<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">
			<meta charset="utf-8"> 
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="https://zdmullen.github.io/TechWriters.github.io/">Home</a></li>
		        	<li><a href="https://zdmullen.github.io/TechWriters.github.io/About">About</a></li>
	        		<li><a href="https://zdmullen.github.io/TechWriters.github.io/blog">Blog</a></li>
				<li><a href="mailto:zachariah.mullen@broadcom.com">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<h4>Something for the bottom of the page</h4>
			</footer>
		</body>
	</html>
